<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myinsta.mapper.PostsMapper" >
    <insert id="insertPost" parameterType="com.example.myinsta.dao.PostsDao" useGeneratedKeys="true" keyProperty="idPost" >
        insert into posts( title, id_account )
        values(#{title}, #{idAccount})
    </insert>
    <insert id="insertPostImage" parameterType="com.example.myinsta.dao.PostImageDao" >
        insert into post_images( id_post, image_path )
        values(#{idPost}, #{imagePath })
    </insert>
    <update id="updatePost" parameterType="com.example.myinsta.dao.PostsUpdateDao">
        update posts
        set
        <if test="title != null">title = #{title}</if>
        where id_post = #{idPost};
    </update>
    <update id="updatePostImage" parameterType="com.example.myinsta.dao.PostsUpdateDao">
        update post_images
        set
        <if test="imagePath != null">image_path = #{imagePath}</if>
        where id_post = #{idPost};
    </update>
</mapper>